<header>
    <div class="container">
        <nav class="navbar">
            <a class="logo" href="index.html">
                <img src="/images/SOS Logo.png" alt="SOSTTI Logo" style="width: 70px;">
            </a>
            <ul class="nav-links">
                <li><a href="index.html">HOME</a></li>
                <li class="dropdown">
                    <a>ABOUT US <i class="fas fa-chevron-down dropdown-arrow"></i></a>
                    <div class="dropdown-content">
                        <a href="pages/about-philosophy.html">SOSTTI's PHILOSOPHY</a>
                        <a href="pages/about-missions.html">MISSIONS</a>
                        <a href="pages/aim-objective.html">AIMS & OBJECTIVES</a>
                        <a href="pages/managing-committee.html">MANAGING COMMITTEE</a>
                        <a href="pages/history.html">HISTORY</a>
                        <a href="pages/about-contact.html">CONTACT US</a>
                    </div>
                </li>
                <li><a href="pages/prospectus.html">PROSPECTUS</a></li>
                <li class="dropdown">
                    <a>COURSES <i class="fas fa-chevron-down dropdown-arrow"></i></a>
                    <div class="dropdown-content">
                        <div class="nested-dropdown">
                            <a>COMPUTER COURSES <i class="fas fa-chevron-right nested-arrow"></i></a>
                            <div class="nested-dropdown-content">
                                <a href="pages/courses/computer-course.html">COMPUTER OPERATOR</a>
                                <a href="pages/courses/graphic-designing.html">GRAPHICS DESIGNING</a>
                                <a href="pages/courses/WebDesigning&Development.html">WEB DESIGNING & WEB DEVELOPMENT</a>
                                <a href="pages/courses/CyberSecurity.html">CYBER SECURITY</a>
                                <a href="pages/courses/ArtificialIntelligence.html">ARTIFICIAL INTELLIGENCE</a>
                            </div>
                        </div>
                        <div class="nested-dropdown">
                            <a>TECHNICAL COURSES <i class="fas fa-chevron-right nested-arrow"></i></a>
                            <div class="nested-dropdown-content">
                                <a href="pages/courses/AutomobileMechanic&Electrician.html">AUTOMOBILE MECHANIC / AUTOMOBILE ELECTRICIAN</a>
                                <a href="pages/courses/HVACR.html">HEATING, VENTILATION, AIRCONDITIONING AND REFRIGERATION (HVACR)</a>
                                <a href="pages/courses/AdvanceWelding.html">ADVANCE WELDING</a>
                                <a href="pages/courses/MotorcycleMechanic.html">MOTORCYCLE MECHANIC</a>
                                <a href="pages/courses/MechanicalTurner.html">MACHINIST / TURNER</a>
                                <a href="pages/courses/General&IndustrialElectrician.html">GENERAL ELECTRICIAN / INDUSTRIAL ELECTRICIAN</a>
                                <a href="pages/courses/MobilePhoneRepairing.html">MOBILE PHONE REPAIRING</a>
                                <a href="pages/courses/UPSSolarPVTechnicain.html">UPS & SOLAR PV TECHNICIAN</a>
                            </div>
                        </div>
                        <a href="pages/courses/EnglishLanguage.html">ENGLISH LANGUAGE</a>
                        <a href="pages/courses/navttcCourses.html">NAVTTC COURSES</a>
                        <a href="pages/courses/bbshrrdbCourses.html">BBSHRRDB COURSES</a>
                        <a href="pages/courses/rpl.html">RPL COURSES</a>
                    </div>
                </li>
                <li class="dropdown">
                    <a>ADMISSIONS <i class="fas fa-chevron-down dropdown-arrow"></i></a>
                    <div class="dropdown-content">
                        <div class="nested-dropdown">
                            <a>ADMISSION INFO <i class="fas fa-chevron-right nested-arrow"></i></a>
                            <div class="nested-dropdown-content">
                                <a href="pages/admissionschedule.html">ADMISSION SCHEDULE</a>
                                <a href="pages/feestructure.html">FEE STRUCTURE</a>
                            </div>
                        </div>
                        <div class="nested-dropdown">
                            <a>INSTITUTE POLICIES <i class="fas fa-chevron-right nested-arrow"></i></a>
                            <div class="nested-dropdown-content">
                                <a href="pages/admission-policy.html">ADMISSION POLICY</a>
                                <a href="pages/safety-health-policy.html">SAFETY POLICY</a>
                                <a href="pages/examination-policy.html">EXAMINATION POLICY</a>
                                <a href="pages/asset-management-policy.html">ASSET MANAGEMENT POLICY</a>
                                <a href="pages/procurement-policy.html">PROCUREMENT POLICY</a>
                                <a href="pages/complaint-policy.html">COMPLAINT POLICY</a>
                                <a href="pages/staff-benefits-policy.html">STAFF BENEFIT MANAGEMENT POLICY</a>
                                <a href="pages/attendance-policy.html">ATTENDANCE POLICY</a>
                                <a href="pages/discipline-policy.html">DISCIPLINE POLICY</a>
                            </div>
                        </div>
                    </div>
                </li>
                <li><a href="pages/events.html">EVENTS</a></li>
                <li><a href="https://docs.google.com/forms/d/e/1FAIpQLSdkpnbw46lDJyMzebKQ6zcEi4C4Q0Rl9ZMwb8g6e79Wsv3lEw/viewform?usp=header">COMPLAINT PAGE</a></li>
            </ul>
            <div class="mobile-menu" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </div>
        </nav>
    </div>
</header>